# === Core ML stack ===
mlflow==2.12.1                # Model tracking & deployment
pyarrow==14.0.2               # Data serialization, compatible with MLflow

# === Deep Learning ===
tensorflow==2.16.1            # Deep learning framework

# === Data Science Essentials ===
numpy==1.26.4                 # Numerical computing
pandas==2.2.3                 # Data manipulation
scipy==1.15.3                 # Scientific computing
matplotlib==3.10.3            # Plotting and visualization
seaborn==0.13.2               # Statistical data visualization
tqdm==4.67.1                  # Progress bars

# === Data Science Essentials ===
kaggle=1.7.4.5                # Loading dataset

# === Dev Tools & Utilities ===
dagshub=3.3.1                 # For Mlflow
dotenv==1.1.1                 # Environment variables
dvc==3.60.1                   # Data version control
joblib==1.5.1                 # Parallel processing
gdown==5.2.0                  # Google Drive downloader
typeguard==4.13.2             # Runtime type validation
python-box==6.0.2             # Dot-access dictionaries
pyyaml==6.0.2                 # YAML parsing
types-PyYAML==6.0.12.20250516 # Type stubs for PyYAML

# === Notebook & UI Frameworks ===
ipykernel==6.29.5             # Jupyter kernel
notebook==7.4.3               # Jupyter Notebook UI
Flask==3.1.1                  # Web framework
Flask-Cors==6.0.1             # CORS support for Flask

# === Local Development ===
-e .
